h2{
    color:red;
    margin-top :10px;
    margin-left: 10px;
  }

 .header3{
    color: rgb(127, 151, 22);
  }
  .yme{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px ;
    font-style: italic; 
    font-weight:bold ;
    opacity: 0.3;
}
  #hg{
    font-weight: bold;
    color: aqua;
  }
  #seco{
    color: black;
    letter-spacing: 0.25em;
    line-height: 20px;
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
  }
  .firstdiv{
    color: white;
    border: 10px solid green;
    background-color: red;
    font-size: 30px;
     margin-top: 90px;
     margin-left: 60px;
     width:600px;
     padding:20px;
  }
  table,th{
    border: 3px solid black;
    border-collapse: collapse;
    /* border-spacing: 10px; */
    background-color: antiquewhite;
    padding: 30px; 

  }
  td{
    border: 3px solid black;
    border-collapse: collapse;
  }
table{
  margin-top: 60px;
  margin-left: 80px;
  width: 50%;
}
#headeroftable1{
  text-align: center;
  text-transform: capitalize;
  color: brown;
  text-decoration: underline;
}
.cap1{
  font-size: 30px;
  color: blue;
}
th{
  background-color: rgb(255, 251, 127);
}