body{
    background-color: rgb(9, 4, 53);
    /* background-image: url(OIP2.jfif) ; */
}
h1{
    color: white;
    /* text-decoration-line:underline ; */
    /* text-decoration-line:overline ; */
    /* text-decoration-line:line-through; */
    /* text-decoration-color: brown;
   text-decoration-style: double;
    text-decoration-thickness: 5px ; */
   text-decoration: underline green  double 1px;
}
h2{
    color: white;
}
.divy{
    background-image: url(OIP.jfif);
  background-position: center;
  background-repeat: no-repeat;
border-left-style: dotted ;
border-right-style: double ;
border-top-style: dashed ;
border-bottom-style: solid ;
width: 30%;
padding: 2px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
color: white;
text-align: center;
font-weight: bold;
/* margin: auto; */
}
.div2{
    background-color: blueviolet;
    text-align: center;
    color: aliceblue;
    width: 30%;
    border: 3px solid white;
    font-size: 40px;
    margin-top: 20px;
    border-radius: 30px;
}
.div3{
    color: antiquewhite;
    border:3px dotted red;
    outline: green solid 7px;
    text-align: center;
    padding: 20px;
    width: 30%;
    outline-offset: 15px;
    text-shadow: 2px  2px;

}
.pp1{
    color:white;
    text-transform: capitalize;
}
.pp2{
    color: aliceblue;
    text-transform: uppercase;
}
.pp3{
    color: aliceblue;
   text-transform: lowercase; 
}
.pp4{
    color: white;
    text-indent: 10px;
    letter-spacing: 8px;
    line-height: 35px;
    font-size: large;
}